body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(44, 44, 44);
    overflow: hidden;
}

.container {
    padding-top: 1px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

h2 {
    color: white;
}

.bookContainer {
    background-color: rgb(72, 63, 73);
    border-radius: 25px;
    margin-top: 15px;
    width: 200px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    align-items: center;
}

#form {
    margin-left: calc(50vw - 75px);
    margin-top: calc();
    height: 160px;
    display: flex;
    position: fixed;
    z-index: 9;
    flex-direction: column;
    width: 200px;
    align-items: center;
    background-color: rgb(72, 63, 73);
}

#textInput {
    display: flex;
    flex-direction: column;
    width: 175px;
}

legend {
    color: white;
}

label {
    color: white;
}

.close {
    color: red;
    margin-left: 170px;
    background-color: rgba(240, 248, 255, 0);
    border: 0px;
    text-align: center;
    padding-top: 3px;
    font-size: 20px;
}